<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.e4.ui.workbench.swt.E4Application"
            name="EclipseCon 2010 e4rover client">
         <property
               name="appName"
               value="EclipseCon 2010 e4rover client">
         </property>
         <property
               name="applicationXMI"
               value="org.eclipsecon.e4rover.client/Application.e4xmi">
         </property>
         <property
               name="applicationCSS"
               value="platform:/plugin/org.eclipsecon.e4rover.client/css/e4rover.css">
         </property>
         <property
               name="applicationCSSResources"
               value="platform:/plugin/org.eclipsecon.e4rover.client/images/">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.equinox.preferences.preferences">
      <initializer
            class="org.eclipsecon.e4rover.client.PreferenceInitializer">
      </initializer>
   </extension>

</plugin>
